<div class="animate__animated animate__bounce animate__delay">

    <h3>Buscar por region <small> {{regionActiva | titlecase}} </small></h3>
    <hr>

    <h5>Seleccione la region</h5>

    <!-- Para asignar una clase según condicional -->
    <!-- [class.btn-primary] = "region === regionActiva" -->

    <!-- [ngClass] = "{
        'btn-primary': region === regionActiva,
        'btn-outline-primary': region != regionActiva
    }" -->

    <div class="row">
        <div class="col">
            <button *ngFor = "let region of regiones"
                    [class] = "(region === regionActiva) ? 'btn btn-primary' : 'btn btn-outline-primary' "
                    (click) = "activarRegion(region)">
                {{region}}
            </button>
        </div>
    </div>

</div>


<div *ngIf="hayError" class="alert alert-danger">
    No sé encontró info con la region {{regionActiva}}
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">

        <!-- Se envia al mini componente el valor del atributo -->
        <app-pais-tabla [paises]="paises"></app-pais-tabla>     

    </div>
</div>